.single{
    display: flex;
    width: 100%;

    .singleContainer{
        flex: 7;

        .top{
            padding: 20px;
            display: flex;
            gap: 20px;

            .left{
                flex: 2;
                padding: 20px;
                box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.47);
                position: relative;

                .editButton{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px 10px;
                    font-size: 14px;
                    color: #7451f8;
                    background-color: #7551f83e;
                    cursor: pointer;
                    border-radius: 0px 0px 0 5px;
                }

                .item{
                    display: flex;
                    gap: 30px;

                    .itemImg{
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details{
                        .itemTitle{
                            font-size: 40px;
                            margin-bottom: 15px;
                            color: #555;
                        }

                        .detailItem{
                            margin-bottom: 15px;
                            font-size: 17px;

                            .itemKey{
                                font-weight: bold;
                                color: gray;
                            }

                            .itemValue{
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .right{
                flex: 5;
            }
        }

        .bottom{
            box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;

            .title{
                color: gray;
                font-weight: 500;
                margin-bottom: 15px;
            }
        }
    }

    .title{
        font-size: 20px;
        color: lightgray;
        margin-bottom: 25px;
    }
}